#ignore mac system files
.DS_store

#ignore local python versions
.python-version

#ignore virtual environments
.venv/

#ignore data
**/code/data.root
**/code/data.txt

#ignore dummy tree
**/tests/dummytree.root
**/tests/a.root

#ignore compiled code
*.pyc
