#ignore mac system files
.DS_store

#ignore local python versions
.python-version

#ignore virtual environments
.venv/

#ignore data
*.root
*.txt

#ignore dummy tree
**/dummytree.root
**/a.root

#ignore compiled code
*.pyc
